<div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
</div>
<p style="text-align: center;">Barcode Scanner</p>
<div id="interactive" class="viewport">
</div>

<div class="qr-viewport" *ngIf="updatedForQRCode">
    <div class="qr-code">
        <ngx-qrcode [elementType]="elementType" [value]="updatedForQRCode" cssClass="aclass" errorCorrectionLevel="L">
        </ngx-qrcode>
        <p class="qr-code-text">{{updatedForQRCode}}</p>
    </div>
    <div class="qr-download">
        <button class="download" (click)="getImage()">Download QR</button>
    </div>
</div>